@use '../../styles/colors.scss';
@use '../../styles/mixins.scss';

.root {
    display: flex;
    flex-direction: column;

    hr {
        margin-bottom: 1rem;
    }
}

.card {
    @include mixins.card;
    align-self: center;
    max-width: 100%;

    table {
        min-width: max-content;
    }
}

.tableContainer {
    overflow-x: auto;
    padding-bottom: 1rem;
}
