@use '../../styles/variables.scss';

.filterInput {
    align-items: start;
    display: flex;
    flex-direction: column;

    select {
        width: 8rem;
    }

    input {
        width: 8rem;
    }
}

.rangeInput {
    border-radius: variables.$border-radius-small;
}

