@use 'sass:color';

@use '../../styles/colors.scss';
@use '../../styles/variables.scss';

.brand {
    color: colors.$secondary-text;
    margin-bottom: 2rem;
}

main {
    padding: 1rem;
    min-width: 0;
}

.pageHeading {
    margin-bottom: 1rem;
    text-align: end;
}

.sidebar {
    background-color: colors.$primary-background;
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .bottomNavItems {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 1rem;
        justify-content: end;
    }

    .logoutButton {
        all: unset;
    }

    ul {
        color: colors.$secondary-text;
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: .75rem;
        list-style: none;
        padding: 0;
    }

    a, .logoutButton {
        align-items: center;
        border-left: 2px solid colors.$primary-border;
        border-radius: variables.$border-radius-small;
        display: flex;
        gap: .5rem;
        padding: .5rem 0;
        padding-left: 1rem;

        &:hover {
            background-color: color.scale(colors.$primary-background, $lightness: variables.$hover-color-lightness);
            cursor: pointer;
        }
    }
}

.root {
    display: grid;
    grid-template-columns: 16rem 1fr;
    min-height: 100dvh;
}
