@use './colors.scss';
@use './variables.scss';

a {
    all: unset;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

hr {
    border-style:solid;
    border-radius: variables.$border-radius-small;
    color: colors.$border;
}

html {
    color: colors.$primary-text;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
        'Open Sans', 'Helvetica Neue', sans-serif;
}

input {
    border: 1px solid colors.$border;
    border-style: normal;
    border-radius: variables.$border-radius-small;
}

table {
    border: 1px solid colors.$border;
    border-radius: variables.$border-radius-small;
    border-spacing: 0;

    td, th {
        padding: .5rem;
        border-bottom: 1px solid colors.$border;
    }

    th {
        text-align: start;
    }

    tr:last-child > td {
        border: none;
    }
}
