@use '../../styles/colors.scss';
@use '../../styles/mixins.scss';

.root {
    display: flex;
    flex-direction: column;

    hr {
        margin-bottom: 2rem;
    }
}

.card {
    @include mixins.card;
    align-self: center;
    margin-bottom: 1rem;
    max-width: 100%;

    table {
        min-width: max-content;
    }
}

.filterButtonContainer {
    display: flex;
    justify-content: center;
}

.filters {
    align-self: center;

    button {
        @include mixins.button-filled;
    }

    .filterInputs {
        columns: 2;

        > * {
            margin-bottom: 1rem;
        }
    }
}

.tableAdmin th {
    background-color: colors.$primary;
    color: colors.$secondary-text;
}

.tableButtonCell {
    display: flex;
    justify-content: center;

    button {
        @include mixins.button-ghost;
    }
    svg {
        height: 1.25rem;
        width: 1.25rem;
    }
}

.tableButtonHeading {
    text-align: center;
}

.tableContainer {
    overflow-x: auto;
    padding-bottom: .5rem;
}

