@use '../../styles/colors.scss';
@use '../../styles/mixins.scss';

.root {
    display: flex;
    flex-direction: column;

    hr {
        margin-bottom: 2rem;
    }
}

.card {
    @include mixins.card;
    align-self: center;
    max-width: 100%;

    table {
        min-width: max-content;
    }
}

.tableAdmin th {
    background-color: colors.$primary;
    color: colors.$secondary-text;
}

.tableContainer {
    overflow-x: auto;
    padding-bottom: .5rem;
}
